* {
  margin: 0;
  padding: 0;
}

/* header section */
header {
  background-color: rgb(11, 11, 22);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header img {
  width: 100px;
  height: 40px;
}

.options-container a {
  text-decoration: none;
  color: aliceblue;
  margin-left: 20px;
  font-size: 20px;
}

.options-container a:hover {
  color: aqua;
}

/* 2nd section */
.first-part {
  color: aliceblue;
  height: 600px;
  background-image: url("./images/background.png"),
    linear-gradient(45deg, rgb(26, 7, 56), rgb(8, 12, 99));
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first-part img {
  height: 300px;
  width: 300px;
}

.banner-div h1 {
  font-size: 70px;
}

.banner-div p {
  font-size: 25px;
  padding: 30px 0;
}

.banner-div button {
  background-color: red;
  color: aliceblue;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

/* about us part here  */

.about-us {
  background-image: linear-gradient(
    45deg,
    rgb(155, 109, 109),
    rgb(226, 223, 223)
  );
}

.about-us h1 {
  font-size: 100px;
  text-align: center;
}

.about-us-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}

.about-us-container img {
  height: 300px;
  width: 300px;
}

.text-add h2 {
  padding: 16px 0;
  font-size: 35px;
}

.text-add p {
  padding: 12px 0;
  font-size: 20px;
}

.text-add button {
  background-color: red;
  color: aliceblue;
  padding: 15px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
}

/* survice section  */

.survice-section {
  background-image: linear-gradient(45deg, rgb(19, 4, 48), rgb(11, 6, 39));
  color: aliceblue;
  padding-bottom: 80px;
}

.box {
  height: 400px;
  width: 250px;
  text-align: center;
  box-shadow: 1px 1px 28px #dad5d5;
  border-radius: 8px;
  background-color: rgb(3, 6, 37);
}

.box img {
  height: 80px;
  width: 80px;
  padding: 15px 0;
}

.box h2 {
  font-size: 30px;
  padding-bottom: 10px;
}

.box p {
  font-size: 18px;
  padding-bottom: 16px;
}

.box button {
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
}

.box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.survice-section h1 {
  font-size: 80px;
  padding: 20px 0;
  text-align: center;
}


/* footer  */

footer{
    padding-bottom: 50px;
    background-color: black;
    color: #dad5d5;
    text-align: center;
}
hr{
    width: 80%;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding:100px 200px;
}

.part{
    width: 80px;
}